*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: green;
    border: 3px solid green;
}
.box{
    width: 150px;
    height: 150px;
    margin: 20px;
    background-color: aqua;
    border: 2px solid orange;
    /* transition: 2s; */
    /* transition-delay: 5s; AAne aur hatne me 5sec lagega */
    transition: transform 1s cubic-bezier(1,-1.17, 0.93,-0.33);
}
.box:hover{
    /* background-color: red;
    transform: rotate(45deg); */
    transform: translateX(500px);

}