.box{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    margin: 10px;
    padding: 25px;
}
#jhon{
    background-color: orange;
}
#parth{
    background-color: white;
}
#Alok{
    background-color: green;
}
